<div class="dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="dashboard__section dashboard__section--small">
                    <div class="dashboard__heading dashboard__heading--mail">
                        <h2>Formularz</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="dashboard__section">
                    <div class="dashboard__heading">
                        <h3>Wprowadź dane</h3>
                    </div>
                    <div class="panel-body">
                        <form [formGroup]="samplesForm">
                            <div class="form-group">
                                <label for="userFirstName">Imię<sup>*</sup></label>
                                <input type="text" class="form-control" formControlName="userFirstName" />
                                <div class="validation-feedback" *ngIf="samplesForm.get('userFirstName').touched || samplesForm.get('userFirstName').dirty">
                                    <div *ngIf="samplesForm.get('userFirstName').hasError('required')">
                                        Imię użytkownika jest wymagane!
                                    </div>
                                    <div *ngIf="samplesForm.get('userFirstName').hasError('pattern')">
                                        Imię zawiera niepoprawne znaki!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="userLastName">Nazwisko<sup>*</sup></label>
                                <input type="text" class="form-control" formControlName="userLastName" />
                                <div class="validation-feedback" *ngIf="samplesForm.get('userLastName').touched || samplesForm.get('userLastName').dirty">
                                    <div *ngIf="samplesForm.get('userLastName').hasError('required')">
                                        Nazwisko użytkownika jest wymagane!
                                    </div>
                                    <div *ngIf="samplesForm.get('userLastName').hasError('pattern')">
                                        Nazwisko zawiera niepoprawne znaki!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="userTown">Miasto<sup>*</sup></label>
                                <input type="text" class="form-control" formControlName="userTown" />
                                <div class="validation-feedback" *ngIf="samplesForm.get('userTown').touched || samplesForm.get('userTown').dirty">
                                    <div *ngIf="samplesForm.get('userTown').hasError('required')">
                                        Miasto użytkownika jest wymagane!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dateCompletingForm">Data wypełnienia formularza<sup>*</sup></label>
                                <input type="date" class="form-control" formControlName="dateCompletingForm" disabled/>
                                <div class="validation-feedback" *ngIf="samplesForm.get('dateCompletingForm').touched || samplesForm.get('dateCompletingForm').dirty">
                                    <div *ngIf="samplesForm.get('dateCompletingForm').hasError('required')">
                                        Data wypełnienia formularza jest wymagana!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dailyAmountCommuting">Kwotę jaką użytkownik przeznacza na codzienne dojazdy do pracy<sup>*</sup></label>
                                <input type="number" min="0.00" step="0.00" (change)='changeAmount($event)' class="form-control" formControlName="dailyAmountCommuting" />
                                <div class="validation-feedback" *ngIf="samplesForm.get('dailyAmountCommuting').touched || samplesForm.get('dailyAmountCommuting').dirty">
                                    <div *ngIf="samplesForm.get('dailyAmountCommuting').hasError('required')">
                                        Kwota codziennych dojazdów jest wymagana!
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-html="true" title="Kwota dojazdów w EUR {{amountEURO}}" [disabled]='!samplesForm.valid' (click)="saveXML()">Zapisz jako XML</button>
                            <button type="submit" class="btn btn-success" [disabled]='!samplesForm.valid' (click)="printForm()">Wydrukuj formularz</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>